[Desktop Entry]
Name=Gmail Watcher
Name[ar]=مراقب جي ميل
Name[en_GB]=Gmail Watcher
Name[eu]=Gmail Begiralea
Name[ru]=Уведомление Gmail
Name[si]=UCSC ජිමෙල්වොච් ර්
Name[zh_TW]=Gmail 檢查員
Comment=A Gmail Notifier for Ubuntu
Comment[ar]=والمخطر جي ميل اوبنتو
Comment[bg]=Известител за Gmail за Убунту
Comment[ca]=Un notificador del Gmail per a l'Ubuntu
Comment[cs]=Oznamování přichozích e-mailů pro Gmail v Ubuntu
Comment[de]=Ein Gmail-Benachrichtigungssystem für Ubuntu
Comment[en_GB]=A Gmail Notifier for Ubuntu
Comment[es]=Un Notificador de Gmail para Ubuntu
Comment[eu]=Gmail jakinarazpen adierazle bat Ubunturentzako
Comment[fi]=Gmail-tarkistaja Ubuntulle
Comment[fr]=Un Notificateur Gmail pour Ubuntu
Comment[gl]=Notificador de Gmail para Ubuntu
Comment[he]=מתריע Gmail לאובונטו
Comment[hu]=Gmail értesítő Ubuntuhoz
Comment[it]=Notificatore Gmail per Ubuntu
Comment[nl]=Een GMail-melder voor Ubuntu
Comment[pt]=Um notificador do GMail para Ubuntu
Comment[ru]=Уведомление о новой почте Gmail для Ubuntu
Comment[si]=ඔබගේ ජිමෙල් ගිණුමේ තතු හෙලිකරන්නා උබුන්ටු සදහා
Comment[sk]=Gmail Notifikátor pre Ubuntu
Comment[sl]=Gmail obveščevalec za Ubuntu
Comment[sv]=En Gmail Notifier för Ubuntu
Comment[tr]=Ubuntu için bir Gmail Bildirici
Comment[ur]=جی میل نوٹیفائر...
Categories=GNOME;GTK;Network;Email;
Exec=gmailwatcher
Icon=gmailwatcher
StartupNotify=true
Terminal=false
Type=Application
